<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.WebView2" version="1.0.664.37" targetFramework="net472" />
  <package id="Microsoft.Windows.Shell" version="3.0.1.0" targetFramework="net472" />
  <package id="Sara-FCTB" version="2.16.26.105" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
</packages>